body{
  background-image: url(legno/sfondo.jpg);
  background-size: cover;
}

header{
  height: 100px;
  margin:0 auto;
  width: 500px;
  border-bottom: solid 2px white;
}

#icona{
  width:100px;
	height:100px;
	float:left;
}

#gmail{
  width: 200px;
	line-height:100px;
  color: white;
  font-weight: lighter;
  font-size: 30px;
}

.input{
	float:left;
  margin-right:5px;
}

#search{
  padding-top: 1%;
  margin: 0 auto;
  width: 500px;
  border-bottom: solid 2px white;
}

#p{
  color: white;
  font-size: 30px;
}

#tondo{
  width: 30px;
  background-color: #d64161;
  border-radius: 100%;
  padding: 3%;
}

.div{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin: 0 auto;
  width: 500px;
  border-bottom: solid 2px white;
}

.style{
  text-align: left;
  height: 24px;
  width: 500px;
  border:solid 1px #000;
  background-color: #d6d4e0;
  font-size: 17px;
}

input[type=checkbox]:checked + label {
  background-color: #fff;
}

footer{
  color: white;
  font-size: 20px;
  text-align: center;
}

#font{
  font-size: 10px;
  font-style: italic;
}
